SHOPIFY_WEBHOOK_SECRET=
SHOPIFY_API_KEY=
SHOPIFY_API_PASSWORD=
SHOPIFY_SHOP_NAME=
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_ONLINE_STORE_API=

SMTP_HOST=
SMTP_USER=
SMTP_PASS=

# DEBEN SER CONFIGURADAS EN GITHUB
AWS_ACCESS_KEY=
AWS_SECRET_KEY=